@import url("https://fonts.cdnfonts.com/css/montserrat");

/********************* Desktop view *********************/

.container-right {
  grid-area: main;
  padding: 0 40px;
  margin-left: 16%;
  font-family: "Montserrat";
}

header {
  display: flex;
  margin-bottom: 50px;
  max-height: 180px;
  color: #fff;
}

header .info {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

header .info h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
}

header .info h6 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

header .info .details {
  display: flex;
}

header .info p {
  margin: 2px;
  font-size: 0.9rem;
}

#dot {
  margin: auto 8px;
}

.favorites-table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(
    153.34deg,
    rgba(0, 0, 0, 0.3) -52.04%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(21px);
  color: #fff;
}

.favorites-table td {
  position: relative;
  height: 40px;
  text-align: left;
  padding: 0 30px;
}

.favorites-table td p {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorites-table th {
  font-size: 1.2rem;
  border: 0;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 0 30px;
}

/********************* Mobile view *********************/

.container-song-favorites {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  height: 60px;
  border-radius: 8px;
  margin: 10px;
  background: #fff;
}

.container-song-favorites .cover-container {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  border-radius: 5px;
  overflow: hidden;
}

.container-song-favorites .cover-container img {
  width: 100%;
  height: auto;
}

.container-song-favorites .info-container {
  display: flex;
  flex-direction: column;
  color: #000;
}

.container-song-favorites .info-container span {
  font-weight: 700;
}

.container-song-favorites .info-container .contributors .track-artist {
  color: #444444;
  font-size: 0.8rem;
  margin: 0;
}

.song-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
