.logo {
  display: flex;
  width: fit-content;
  width: 50px;
  border-radius: 2rem;
}
.profile{
  width: 100%;
   margin-bottom: 3rem;
   display: flex;
   align-items: center;
   flex-direction: column-reverse;
}
.profileImg{
  margin-bottom: 1rem;
  width: 200px;
  height: 200px; 
  border-radius: 10rem;
  object-fit: contain;
 
}

.inputFile{
  color: transparent;
  margin-left: 8.5rem;
  margin-bottom: 1rem;
}
