
h1{
    color: #fff;
    font-size: 12em;
    opacity: 0.7;
    text-align: center;
    text-shadow: 5px 10px 10px black ;
    margin-top: 7%;
}
h2{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3em;
    opacity: 0.8;
    text-align: center;
    text-shadow: 5px 10px 10px black ;
    margin-top: 0%;
}
.beginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    width: 269px;
    height: 58px;
    opacity: 0.9;
    border-radius: 36px;
    background: #60426D;
    border: 3px solid #bfbdbd;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 18px;
    line-height: 17px;   
}
.beginButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    width: 269px;
    height: 58px;
    border-radius: 36px;
    background: #7d6488;
    border: 3px solid #484848;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 18px;
    line-height: 17px;   
    cursor: pointer;
}