.background {
  background-image: url("../../utils/img/Melody.png");
  background-size: cover;
  background-position: center;
}
.avatar {
  width: 125px !important;
  height: 125px !important;
  margin-bottom: 1em !important;
}
.error {
  color: red;
}
.logoSignin {
  width: 100%;
  

}
.outline_btn {
  width: 100%;
  height: 3rem;
  border-radius: 50rem;
  border: 1px solid;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0.5rem 0;
  background: transparent;
  transition: all ease 0.5s;
  text-align: center;
  padding: 0rem 1rem;
}
.outline_btn svg {
  width: 4rem;
  color: rgb(224, 99, 32);
}

.contained_btn {
  width: 100%;
  height: 3rem;
  border-radius: 50rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
  background-color: #3b5998;
  padding: 0rem 1rem;
}
.contained_btn svg {
  width: 4rem;
}
.facebook :hover {
  background-color: #132d6b;
}
.google :hover {
  background-color: #bebebe;
}
