html {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #2B2C55 0%, #6667AE 100%);
    background-attachment: fixed;
}

.mobile-topside {
    position: absolute;
    width: 1067px;
    height: 482.24px;
    left: -130px;
    top: 259.24px;

    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}