.header-container-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    max-width: 1300px;
    width: 100%;
    height: 100px;
    font-family: 'Montserrat';
    z-index: 9999;
}

.header-container-home h1 {
    margin-left: 0;
    margin-right: 12%;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
}

.settings-container {
    display: flex;
    flex-direction: row;
    margin-left: 12%;
}