.playlists-container {
    position: absolute;
    width: 800px;
    height: 211px;
    left: 308px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
}