.settings-container {
    position: absolute;
    width: 240px;
    height: 60px;
    right: 100px;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}